/* MARKER */
.marker {
	position: relative;

	width: 50px;
	height: 50px;

	border-radius: 50%;
	border: 8px solid #22C4DA;
	background-color: whitesmoke;
}

.markerHover {
  background-color: tomato;
}

.marker::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -100%;

	width: 30px;
	height: 50px;

	background-color: transparent;

	background-image: linear-gradient(
			to right top,
			transparent 48%,
			#22C4DA 48%,
			#22C4DA calc(48% + 8px),
			whitesmoke 50%,
			whitesmoke 100%
		),
		linear-gradient(
			to left top,
			transparent 48%,
			#22C4DA 48%,
			#22C4DA calc(48% + 8px),
			whitesmoke 50%,
			whitesmoke 100%
		);

	transform: translateX(-50%);
}
