/* CARD */
.card {
    list-style: none;

    text-align: center;
    color: #fff;
    text-decoration: none;
}

.some {
    position: relative;

    font-size: 16px;

    overflow: hidden;

    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;

    box-shadow: 2px 2px 8px #000;
    animation: ease 1s CardAnimation;
}

.some:hover {
    cursor: pointer;
    transform: scale(1.07);
    box-shadow: 2px 4px 10px #000;
}

.all {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    row-gap: 28px;
    column-gap: 92px;

    align-items: center;
    justify-items: start;

    margin-top: 40px;
    margin-bottom: 40px;
}

/* PRE WORDS */

.preWords {
    font-size: 18px;
    line-height: 1.2em;
    letter-spacing: 0.3em;
    color: black;
}

.some .preWords {
    display: none;
}

.all .preWords {
    position: relative;

    text-transform: uppercase;

    padding-left: calc(3em + 15px);
}

.all .preWords::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 3em;

    border: 1px solid black;

    transform: translateY(-50%);
}

/* PICTURE */
.picture {
    width: 100%;
    height: 100%;
}

.all .picture {
    width: 290px;
    height: 360px;

    object-fit: cover;

    grid-row: 1 / -1;
    grid-column: 2;
}

/* HEADER */
.header {
    display: inline-block;

    margin: 0;

    color: black;
    font-weight: 400;
}

.some .header {
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px 20px;

    font-size: 14px;

    background-color: white;

    overflow: hidden;
}

.all .header {
    text-transform: uppercase;
    font-size: 64px;
    line-height: 1.4em;

    padding: 20px 0;
}

/* DESC */
.description {
    display: block;

    margin: 0;
}

.some .description {
    display: none;
}

.all .description {
    text-align: justify;
    color: black;
    font-size: 18px;
    line-height: 1.8em;
}

/* LINK */
.link {
    color: black;
    font-size: 18px;
    line-height: 1.2em;

    text-decoration: none;
}

.some .link {
    display: none;
}

.all .link:hover {
    text-decoration: underline;
}

/* Animations */

@keyframes CardAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
