/* SEARCH */
.search {
	display: grid;
	grid-template-columns: auto min-content;
	column-gap: 10px;

	background-color: inherit;
}

/* FIELD */
.fieldBlock {
	width: 200px;

	transform-origin: right center;
	transform: scaleX(0);

	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}
.field {
	border: none;
	border-bottom: 2px solid black;

	border-radius: 0;
}

.showField {
	transform: scaleX(1);
}

/* BUTTON */
.button {
	width: 28px;
	height: 28px;

	padding: 0;

	border-radius: 50%;

  background-color: inherit;
	background-image: url("./MagnifyingGlass.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px 26px;

	border: none;
}

.button:hover,
.button:focus-visible,
.button:active {
	border: 2px solid grey;
}
